
#lcd_imgtag_panel { 
  position: fixed !important;
  width: 150px !important;
  height: 72px !important;
  left: 50% !important;
  margin-left: -75px !important;
  top: 30px !important;
  background: rgba(0, 0, 0, 0.75) !important;
  -webkit-border-radius: 12px !important;
  z-index: 1003 !important;
  opacity: 0;
  -webkit-transition: opacity 500ms;
  pointer-events: auto !important;
  zoom: reset !important;

  text-align:center;
}
#lcd_imgtag_panel.active {
  opacity: 1;
}
#lcd_imgtag_panel.remove {
  opacity: 0;
}
#lcd_imgtag_panel img {
  margin-top:16px !important;
}
#lcd_imgtag_panel #lcd_imgtag_textarea {
  width:1px !important;
  height:1px !important;
  position:absolute !important;
  left:-9999px !important;
}
