<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>DefaultValue</key>
		<true/>
		<key>Key</key>
		<string>html_tag</string>
		<key>Title</key>
		<string>Context Menu Items</string>
		<key>Type</key>
		<string>Group</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<true/>
		<key>Key</key>
		<string>html_tag</string>
		<key>Title</key>
		<string>Make HTML img Tag</string>
		<key>Type</key>
		<string>CheckBox</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<false/>
		<key>Key</key>
		<string>bbcode_tag</string>
		<key>Title</key>
		<string>Make BBCode img Tag</string>
		<key>Type</key>
		<string>CheckBox</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<false/>
		<key>Key</key>
		<string>markdown_tag</string>
		<key>Title</key>
		<string>Make Markdown img Tag</string>
		<key>Type</key>
		<string>CheckBox</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<false/>
		<key>Key</key>
		<string>textile_tag</string>
		<key>Title</key>
		<string>Make Textile img Tag</string>
		<key>Type</key>
		<string>CheckBox</string>
	</dict>
</array>
</plist>
